.pop-border {
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.card {
  /*fixes for mobile viewing, allows for cards in row->col->card to wrap nicely*/
  min-width:250px;
  margin-bottom:18px;
}
