<div class="alert alert-transparent" role="alert">
    <div class="row">
        <div class="col">
            <h4 class="alert-heading">sticky/{{stickyID}}</h4>
        </div>
        <div class="col">
            <h4 style="text-align: right;">{{ clock | date:'HH:mm'}}</h4>
        </div>
    </div>
    <div ng-if="!data.$$editingDescription">
        <p ng-click="data.$$editingDescription = true">{{data.description || 'New Description'}}</p>
    </div>
    <div class="input-group" ng-if="data.$$editingDescription">
        <input class="form-control" ng-model="data.description" ng-enter="data.$$editingDescription = false; save()">
        <div class="input-group-append">
            <button class="btn btn-outline-success" ng-click="data.$$editingDescription = false; save()">Save</button>
        </div>
    </div>
    <hr>
    <div>
        <button type="button" class="btn btn-primary" ng-click="load()">Reload</button>
        <button type="button" class="btn btn-primary" ng-click="addPad()">Add Pad</button>
    </div>
</div>

<div class="row">
    <div class="col" ng-repeat="sticky in data.stickies">
        <div class="card pop-border" ng-class="[sticky.color]">
            <div class="card-header">
                <!-- <click-edit ng-model="sticky.title" ></click-edit> -->
                <span style="font-weight: bold;" ng-if="!sticky.$$editingTitle" ng-click="sticky.$$editingTitle = true">{{sticky.title}}</span>
                <div class="input-group" ng-if="!!sticky.$$editingTitle">
                    <input class="form-control" ng-model="sticky.title" ng-enter="sticky.$$editingTitle = false; save()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" ng-click="sticky.$$editingTitle = false; save()">Save</button>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="item in sticky.list">
                    <div ng-if="!item.$$editing">
                        <input type="checkbox" ng-model="item.checked" />&nbsp;
                        <span ng-click="item.$$editing = true">{{item.text}}</span>
                    </div>
                    <div class="input-group" ng-if="item.$$editing">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" ng-model="item.checked" />
                            </div>
                        </div>
                        <input class="form-control" ng-model="item.text" ng-enter="item.$$editing = false; save()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" ng-click="item.$$editing = false; save()">Save</button>
                        </div>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-success" ng-click="sticky.list.push({text:'new item',checked:false})">Add Item</button>
        </div>
    </div>
</div>
